Source: kservice
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               dbus-x11,
               debhelper (>= 9.0.0),
               docbook-xml,
               docbook-xsl,
               extra-cmake-modules (>= 0.0.13),
               kdoctools-dev (>= 4.99.0),
               libkf5archive-dev (>= 4.99.0),
               libkf5config-dev (>= 4.99.0),
               libkf5coreaddons-dev (>= 4.99.0),
               libkf5crash-dev (>= 4.99.0),
               libkf5dbusaddons-dev (>= 4.99.0),
               libkf5i18n-dev (>= 4.99.0),
               libkf5kjs-dev (>= 4.99.0),
               libkf5windowsystem-dev (>= 4.99.0),
               libxml2-utils,
               pkg-kde-tools,
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kservice

Package: libkf5service5
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Advanced plugin and service introspection.
 Application framework for file type association
 and plugin locating.
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}

Package: libkf5service5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5service5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kservice
 Application framework for file type association
 and plugin locating.
 .
 Contains debug symbols for kservice.
